{{define "error"}}
{{range .}}
{{with .}}
<div class="row">
	<div class="alert alert-danger col-md-12" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Fehler:</span>
		{{.}}
	</div>
</div>
{{end}}
{{end}}
{{end}}

